src/sk/tuke/gamestudio/webservice/score/ScoreService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://score.webservice.gamestudio.tuke.sk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://score.webservice.gamestudio.tuke.sk/" name="ScoreService">
<types>
<xsd:schema>
<xsd:import namespace="http://score.webservice.gamestudio.tuke.sk/" schemaLocation="http://localhost:8080/gamestudio_server/ScoreService?xsd=1"/>
</xsd:schema>
</types>
<message name="addScore">
<part name="parameters" element="tns:addScore"/>
</message>
<message name="addScoreResponse">
<part name="parameters" element="tns:addScoreResponse"/>
</message>
<message name="ScoreException">
<part name="fault" element="tns:ScoreException"/>
</message>
<message name="getBestScoresForGame">
<part name="parameters" element="tns:getBestScoresForGame"/>
</message>
<message name="getBestScoresForGameResponse">
<part name="parameters" element="tns:getBestScoresForGameResponse"/>
</message>
<portType name="ScoreWebService">
<operation name="addScore">
<input wsam:Action="http://score.webservice.gamestudio.tuke.sk/ScoreWebService/addScoreRequest" message="tns:addScore"/>
<output wsam:Action="http://score.webservice.gamestudio.tuke.sk/ScoreWebService/addScoreResponse" message="tns:addScoreResponse"/>
<fault message="tns:ScoreException" name="ScoreException" wsam:Action="http://score.webservice.gamestudio.tuke.sk/ScoreWebService/addScore/Fault/ScoreException"/>
</operation>
<operation name="getBestScoresForGame">
<input wsam:Action="http://score.webservice.gamestudio.tuke.sk/ScoreWebService/getBestScoresForGameRequest" message="tns:getBestScoresForGame"/>
<output wsam:Action="http://score.webservice.gamestudio.tuke.sk/ScoreWebService/getBestScoresForGameResponse" message="tns:getBestScoresForGameResponse"/>
<fault message="tns:ScoreException" name="ScoreException" wsam:Action="http://score.webservice.gamestudio.tuke.sk/ScoreWebService/getBestScoresForGame/Fault/ScoreException"/>
</operation>
</portType>
<binding name="ScoreServicePortBinding" type="tns:ScoreWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="addScore">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ScoreException">
<soap:fault name="ScoreException" use="literal"/>
</fault>
</operation>
<operation name="getBestScoresForGame">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="ScoreException">
<soap:fault name="ScoreException" use="literal"/>
</fault>
</operation>
</binding>
<service name="ScoreService">
<port name="ScoreServicePort" binding="tns:ScoreServicePortBinding">
<soap:address location="http://localhost:8080/gamestudio_server/ScoreService"/>
</port>
</service>
</definitions>