src/sk/tuke/gamestudio/webservice/favorites/FavoriteGameService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><!-- Generated by JAX-WS RI at http://jax-ws.dev.java.net. RI's version is Metro/2.3 (tags/2.3-7528; 2013-04-29T19:34:10+0000) JAXWS-RI/2.2.8 JAXWS/2.2 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://favorites.webservice.gamestudio.tuke.sk/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://favorites.webservice.gamestudio.tuke.sk/" name="FavoriteGameService">
<types>
<xsd:schema>
<xsd:import namespace="http://favorites.webservice.gamestudio.tuke.sk/" schemaLocation="http://localhost:8080/gamestudio_server/FavoriteGameService?xsd=1"/>
</xsd:schema>
</types>
<message name="removeFavorite">
<part name="parameters" element="tns:removeFavorite"/>
</message>
<message name="removeFavoriteResponse">
<part name="parameters" element="tns:removeFavoriteResponse"/>
</message>
<message name="FavoriteException">
<part name="fault" element="tns:FavoriteException"/>
</message>
<message name="addFavorite2">
<part name="parameters" element="tns:addFavorite2"/>
</message>
<message name="addFavorite2Response">
<part name="parameters" element="tns:addFavorite2Response"/>
</message>
<message name="addFavorite1">
<part name="parameters" element="tns:addFavorite1"/>
</message>
<message name="addFavorite1Response">
<part name="parameters" element="tns:addFavorite1Response"/>
</message>
<message name="getFavorites">
<part name="parameters" element="tns:getFavorites"/>
</message>
<message name="getFavoritesResponse">
<part name="parameters" element="tns:getFavoritesResponse"/>
</message>
<portType name="FavoriteGameWebService">
<operation name="removeFavorite">
<input wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/removeFavoriteRequest" message="tns:removeFavorite"/>
<output wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/removeFavoriteResponse" message="tns:removeFavoriteResponse"/>
<fault message="tns:FavoriteException" name="FavoriteException" wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/removeFavorite/Fault/FavoriteException"/>
</operation>
<operation name="addFavorite2">
<input wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/addFavorite2Request" message="tns:addFavorite2"/>
<output wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/addFavorite2Response" message="tns:addFavorite2Response"/>
<fault message="tns:FavoriteException" name="FavoriteException" wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/addFavorite2/Fault/FavoriteException"/>
</operation>
<operation name="addFavorite1">
<input wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/addFavorite1Request" message="tns:addFavorite1"/>
<output wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/addFavorite1Response" message="tns:addFavorite1Response"/>
<fault message="tns:FavoriteException" name="FavoriteException" wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/addFavorite1/Fault/FavoriteException"/>
</operation>
<operation name="getFavorites">
<input wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/getFavoritesRequest" message="tns:getFavorites"/>
<output wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/getFavoritesResponse" message="tns:getFavoritesResponse"/>
<fault message="tns:FavoriteException" name="FavoriteException" wsam:Action="http://favorites.webservice.gamestudio.tuke.sk/FavoriteGameWebService/getFavorites/Fault/FavoriteException"/>
</operation>
</portType>
<binding name="FavoriteGameServicePortBinding" type="tns:FavoriteGameWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="removeFavorite">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FavoriteException">
<soap:fault name="FavoriteException" use="literal"/>
</fault>
</operation>
<operation name="addFavorite2">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FavoriteException">
<soap:fault name="FavoriteException" use="literal"/>
</fault>
</operation>
<operation name="addFavorite1">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FavoriteException">
<soap:fault name="FavoriteException" use="literal"/>
</fault>
</operation>
<operation name="getFavorites">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
<fault name="FavoriteException">
<soap:fault name="FavoriteException" use="literal"/>
</fault>
</operation>
</binding>
<service name="FavoriteGameService">
<port name="FavoriteGameServicePort" binding="tns:FavoriteGameServicePortBinding">
<soap:address location="http://localhost:8080/gamestudio_server/FavoriteGameService"/>
</port>
</service>
</definitions>